<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Status</title>
</head>
<body>
<h1>Add New Status</h1>

<form th:action="@{/status/save}"  method="post">
    <label for="name">Name:</label>
    <input type="text"  name="name" required />
    <br/>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <input type="hidden" name="positionNumber"  th:value="${maxPosition}" />
    <input type="hidden" name="isActive" th:value="true" />
    <button type="submit">Save</button>
</form>

</body>
</html>
